<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="nettyChatServer"	class="com.xxl.push.core.chat.netty.NettyChatServer" init-method="init" destroy-method="destroy">
		<property name="port" value="7000" />
		<property name="chatUrl" value="/chat" />
	</bean>

	<bean id="sioChatServer"	class="com.xxl.push.core.chat.socketio.SioChatServer" init-method="init" destroy-method="destroy">
		<property name="port" value="7100" />
	</bean>

</beans>