<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="XxlDbDemoMapper">
	
	<resultMap id="XxlDbDemo" type="com.xxl.core.model.XxlDbDemo" >
		<result column="id" property="id" />
	    <result column="name" property="name" />
	    <result column="age" property="age" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.name,
		t.age
	</sql>
	
	<insert id="save" parameterType="com.xxl.core.model.XxlDbDemo" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO xxl_db_demo (
			name,
			age
		) VALUES (
			#{name}, 
			#{age}
		);
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id"> 
			SELECT LAST_INSERT_ID() 
		</selectKey> 
	</insert>
	
	<delete id="delete" parameterType="java.lang.Integer" >
		delete from xxl_db_demo
		where id = #{id}
	</delete>
	
	<update id="update" parameterType="com.xxl.core.model.XxlDbDemo">
		update xxl_db_demo
		set age = #{age}
		where id = #{id}
	</update>
	
	<select id="load" parameterType="java.lang.Integer" resultMap="XxlDbDemo" >
		SELECT <include refid="Base_Column_List" />
		FROM xxl_db_demo AS t
		where t.id = #{id}
	</select>
	
</mapper>