<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectMapper">
	
	<resultMap id="ProjectResultMap" type="com.xxl.glue.admin.core.model.Project" >
		<result column="id" property="id" />
	    <result column="appname" property="appname" />
	    <result column="name" property="name" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.appname,
		t.name
	</sql>
	
	<insert id="save" parameterType="com.xxl.glue.admin.core.model.Project" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO xxl_glue_project (
			appname,
			name
		) VALUES (
			#{appname},
			#{name}
		);
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id"> 
			SELECT LAST_INSERT_ID() 
		</selectKey> 
	</insert>

	<update id="update" parameterType="com.xxl.glue.admin.core.model.Project">
		update xxl_glue_project
		set name = #{name}
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Integer" >
		DELETE FROM xxl_glue_project
		where id = #{id}
	</delete>
	
	<select id="loadAll" resultMap="ProjectResultMap" >
		SELECT <include refid="Base_Column_List" />
		FROM xxl_glue_project AS t
		order by t.id desc
	</select>

	<select id="findByAppname" resultMap="ProjectResultMap" >
		SELECT <include refid="Base_Column_List" />
		FROM xxl_glue_project AS t
		where t.appname = #{appname}
	</select>

	<select id="load" resultMap="ProjectResultMap" >
		SELECT <include refid="Base_Column_List" />
		FROM xxl_glue_project AS t
		where t.id = #{id}
	</select>

</mapper>