<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DevTaskMapper">
	
	<resultMap id="DevTask" type="com.xxl.core.model.main.DevTask" >
	    <id column="id" property="id" jdbcType="INTEGER" />
	    <result column="user_id" property="userId" jdbcType="INTEGER" />
	    <result column="title" property="title" jdbcType="VARCHAR" />
	    <result column="process_instance_id" property="processInstanceId" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.user_id,
		t.title,
		t.process_instance_id
	</sql>
	
	<select id="getByProcessInstanceId" parameterType="java.lang.String" resultMap="DevTask">
		SELECT	<include refid="Base_Column_List" />
		FROM
		dev_task AS t
		WHERE t.process_instance_id = #{processInstanceId}
	</select>
	
	<select id="getById" parameterType="java.lang.Integer" resultMap="DevTask">
		SELECT	<include refid="Base_Column_List" />
		FROM
		dev_task AS t
		WHERE t.id = #{id}
	</select>
	
	<update id="updateProcessInstanceId" parameterType="java.util.HashMap" >
		update dev_task
		set process_instance_id = #{processInstanceId}
		where id = #{id}
	</update>
	
	<insert id="save" parameterType="com.xxl.core.model.main.DevTask" >
		insert into dev_task(user_id, title)
		values(#{userId}, #{title})
	</insert>
	
	<select id="getByUserId" parameterType="java.lang.Integer" resultMap="DevTask">
		SELECT	<include refid="Base_Column_List" />
		FROM
		dev_task AS t
		WHERE t.user_id = #{userId}
	</select>
	
	<delete id="delete" parameterType="java.lang.Integer" >
		delete from dev_task
		where id = #{id}
	</delete>
	
</mapper>