<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- xxl-glue broadcast -->
	<bean id="xxlGlueBroadcaster" class="com.xxl.glue.core.broadcast.XxlGlueBroadcaster" init-method="getClient" destroy-method="close" >
		<constructor-arg index="0" value="${xxl.glue.zkserver}" />
	</bean>

</beans>