<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.0.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="fileEncoding" value="utf-8" />
		<property name="locations">
			<list>
				<value>classpath*:xxl-db.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource_w" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${w.c3p0.driverClass}" />
		<property name="jdbcUrl" value="${w.c3p0.url}" />
		<property name="user" value="${w.c3p0.user}" />
		<property name="password" value="${w.c3p0.password}" />
		<property name="initialPoolSize" value="3" />
		<property name="minPoolSize" value="2" />
		<property name="maxPoolSize" value="10" />
		<property name="maxIdleTime" value="60" />
		<property name="acquireRetryDelay" value="1000" />
		<property name="acquireRetryAttempts" value="10" />
		<property name="preferredTestQuery" value="SELECT 1" />
	</bean>

	<bean id="dataSource_r1" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${r1.c3p0.driverClass}" />
		<property name="jdbcUrl" value="${r1.c3p0.url}" />
		<property name="user" value="${r1.c3p0.user}" />
		<property name="password" value="${r1.c3p0.password}" />
		<property name="initialPoolSize" value="3" />
		<property name="minPoolSize" value="2" />
		<property name="maxPoolSize" value="10" />
		<property name="maxIdleTime" value="60" />
		<property name="acquireRetryDelay" value="1000" />
		<property name="acquireRetryAttempts" value="10" />
		<property name="preferredTestQuery" value="SELECT 1" />
	</bean>
	
	<bean id="dataSource_r2" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${r2.c3p0.driverClass}" />
		<property name="jdbcUrl" value="${r2.c3p0.url}" />
		<property name="user" value="${r2.c3p0.user}" />
		<property name="password" value="${r2.c3p0.password}" />
		<property name="initialPoolSize" value="3" />
		<property name="minPoolSize" value="2" />
		<property name="maxPoolSize" value="10" />
		<property name="maxIdleTime" value="60" />
		<property name="acquireRetryDelay" value="1000" />
		<property name="acquireRetryAttempts" value="10" />
		<property name="preferredTestQuery" value="SELECT 1" />
	</bean>

	<bean id="dataSourceRouter" class="com.xxl.db.router.XxlDbRouter">
		<property name="targetDataSources" >
			<map>
				<entry key="dataSource_r1" value-ref="dataSource_r1" ></entry>
				<entry key="dataSource_r2" value-ref="dataSource_r2" ></entry>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="dataSource_w" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceRouter" />
		<property name="mapperLocations" value="classpath*:mybatis-mapper/*.xml" />
	</bean>

	<!-- Template when Junit, scope="prototype" -->
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>

</beans>